# Compiled files
target/
build/
*.class

# Gradle files
.gradle/

# IDE files
.idea/
*.iml
.vscode/

src/main/resources/application.properties
!src/main/resources/application.properties.template

.DS_Store
Thumbs.db

# Spring Boot
/logs/
*.log
Help.md
